<ion-header>
    <ion-navbar>
        <ion-title>
            K
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="goToDreamForm()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card *ngIf="dreams.length === 0">
        <ion-card-header>
            Welcome to your dream journal.
        </ion-card-header>
        <ion-card-content>
            Click the + button above to create your first entry.
        </ion-card-content>
    </ion-card>
    <div *ngIf="dreams.length > 0">
        <ion-list>
            <button ion-item *ngFor="let dream of dreams" (click)="goToDreamForm(dream._id)">
                <h2>{{dream.title}}</h2>
                <p>{{dream.date | date:'d MMM y, HH:mm'}}</p>
            </button>
        </ion-list>
    </div>
</ion-content>
