<ion-header>
    <ion-navbar>
        <ion-buttons end>
            <button ion-button icon-only (click)="goToDreamForm()">
                <ion-icon name="create"></ion-icon>
            </button>
            <button ion-button icon-only (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div *ngIf="dream">
        <header text-center>
            <h5>{{dream.title}}</h5>
            <h6>{{dream.date | date:'d MMM y'}}</h6>
        </header>
        <span *ngFor="let sign of dream.dreamsigns">
            <ion-chip><ion-label>{{sign}}</ion-label></ion-chip>
        </span>
        <p class="dream-description">{{dream.description}}</p>
    </div>
</ion-content>
